@model Models.Entity.Contact
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

@section jsFooter{
    <script>
        $('#btnHeaderSelectImage').on('click', function (e) {
            e.preventDefault();
            CKFinder.popup({
                chooseFiles: true,
                language: 'en',
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        document.getElementById('txtHeaderImage').value = file.getUrl();
                    });
                    finder.on('file:choose:resizedImage', function (evt) {
                        document.getElementById('txtHeaderImage').value = evt.data.resizedUrl;
                    });
                }
            });
        })
    </script>
    <script>
        $('#btnFooterSelectImage').on('click', function (e) {
            e.preventDefault();
            CKFinder.popup({
                chooseFiles: true,
                language: 'en',
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        document.getElementById('txtFooterImage').value = file.getUrl();
                    });
                    finder.on('file:choose:resizedImage', function (evt) {
                        document.getElementById('txtFooterImage').value = evt.data.resizedUrl;
                    });
                }
            });
        })
    </script>
    <!--Alert success-->
    <script>
        $(document).ready(function (c) {
            $('#btnEdit').on('click', function (c) {
                var Address = $("#Address").val();
                var MobilePhone = $("#MobilePhone").val();
                var Email = $("#Email").val();
                var LinkFaceBook = $("#LinkFaceBook").val(); 
                var LinkInstagram = $("#LinkInstagram").val();
                var FacebookPagePlugin = $("#FacebookPagePlugin").val();
                var LogoHeader = $("#txtHeaderImage").val();
                var LogoFooter = $("#txtFooterImage").val(); 
                console.log(LinkFaceBook);
                var model = { Address, MobilePhone, Email, LinkFaceBook, LinkInstagram, LogoHeader, LogoFooter, FacebookPagePlugin};
                console.log(model);
                $.ajax({
                    url: "/Admin/ContactAdmin/Edit",
                    data: { Contact: model },
                    dataType: "json",
                    type: "POST",
                    success: function (status) {
                        console.log(status);
                        if (status) {
                            $("#alertContactStatus").removeClass("hidden");
                            $("#alertContactStatus").delay(2000).slideUp().promise().done(function () {
                                $("#alertContactStatus").hide().slideDown();
                                $("#alertContactStatus").addClass("hidden");
                            });
                        }
                        else {
                            $("#alertFailStatus").removeClass("hidden");
                            $("#alertFailStatus").delay(2000).slideUp().promise().done(function () {
                                $("#alertFailStatus").hide().slideDown();
                                $("#alertFailStatus").addClass("hidden");
                            });
                        }
                    }
                });
            });
        });
    </script>
}

<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Edit Contact
                        <span class="tools pull-right">
                        </span>
                    </header>
                    <div class="panel-body">
                        <div id="alertContactStatus" class="alert alert-success hidden" role="alert">
                            <strong>Successful!</strong> You edit contact information sucessfully.
                        </div>
                        <div id="alertFailStatus" class="alert alert-danger hidden" role="alert">
                            <strong>Error!</strong> Edit contact information occur error. Please contact Admin !
                        </div>
                        <div class="form">

                            @*<div class="form">*@

                            @*<form  method="get" action="" novalidate="novalidate">*@
                            <div class="cmxform form-horizontal" id="signupForm">
                                @*@using (Html.BeginForm("Edit", "ContactAdmin", FormMethod.Post, new { @class = "cmxform form-horizontal", @id = "signupForm" }))
        {*@
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">Address</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @type = "text" }, @id = "address" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">Mobile Phone</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control", @type = "tel" }, @id = "mobilePhone" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">Email</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" }, @id = "email" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">Link FaceBook</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.LinkFaceBook, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.LinkFaceBook, new { htmlAttributes = new { @class = "form-control", @type = "text" }, @id = "faceLink" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">FaceBook Page Plugin</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.FacebookPagePlugin, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.FacebookPagePlugin, new { htmlAttributes = new { @class = "form-control", @type = "text"  } })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="MetaTitle" class="control-label col-lg-3">Link Instagram</label>
                                    <div class="col-lg-6">
                                        @Html.ValidationMessageFor(model => model.LinkInstagram, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.LinkInstagram, new { htmlAttributes = new { @class = "form-control", @type = "text" }, @id = "instagramLink" })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-lg-3">Header Logo</label>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(model => model.LogoHeader, new { htmlAttributes = new { @class = "form-control", @id = "txtHeaderImage" }, @id = "txtHeaderImage" })
                                        <a id="btnHeaderSelectImage" href="#">Chọn Ảnh</a>
                                        @Html.ValidationMessageFor(model => model.LogoHeader, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label col-lg-3">Footer Logo</label>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(model => model.LogoFooter, new { htmlAttributes = new { @class = "form-control", @id = "txtFooterImage" }, @id = "txtFooterImage" })
                                        <a id="btnFooterSelectImage" href="#">Chọn Ảnh</a>
                                        @Html.ValidationMessageFor(model => model.LogoFooter, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <button id="btnEdit" class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                                @*}*@
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

