@model Models.Entity.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Models.Entity.Banner banner = ViewBag.banner;
}

<div class="title-page" style="background-image: url(/Asset/Spa/images/title-page-01.jpg);">
    <div class="container">
        <h1 class="main-title">
            About Us
        </h1>

        <ul class="breadcrumbs">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                About Us
            </li>
        </ul>
    </div>
</div>
<!--About Us Area Start-->
<div class="sec--our-story--about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-5 pb-md-0 pr-md-4 pr-lg-5">
                <div class="hun-element-image layout-1">
                    <img src="@Model.Image" alt="IMG">
                </div>
            </div>

            <div class="col-md-6 pt-4 pt-md-0 align-self-center pl-md-4 pl-lg-5">
                <div class="hun-element-our-story layout-2">
                    <div class="heading-element">
                        <h3 class="title-element">
                            @Model.Name
                        </h3>

                        <img class="line-heading" src="/Asset/Spa/images/icons/wave-line-02.png" alt="IMG">
                    </div>

                    <div class="content-element">
                        @Html.Raw(Model.Description)
                    </div>

                    <div class="info-element">
                        <div class="sign-element">
                            <img src="@Model.Sign" alt="IMG">
                        </div>

                        <div class="author-element">
                            <span class="name-author">@Model.Author</span> / @Model.Role
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--About Us Area End-->
<!--About Us Team Start-->
@{Html.RenderAction("AboutTeamList");}
<!--About Us Team End-->