@using FonNature.Services;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listMenu = ViewBag.ListMenu;
    List<Models.Entity.Slide> listSlide = ViewBag.SlideList;
    List<Models.Entity.Product> featuredProductList = ViewBag.featuredProduct;
    List<Models.Entity.Product> topHotProduct = ViewBag.topHotProduct;
    List<Models.Entity.Product> bestSellerProductList = ViewBag.bestSellerProduct;
    Models.Entity.Slide otherSlide = ViewBag.otherSlide;
    List<Models.Entity.Content> contentList = ViewBag.contentList;
    Models.Entity.Banner bannerHome = ViewBag.bannerHome;
    var aboutUs = ViewBag.aboutUs as Models.Entity.About;
    var benefits = ViewBag.benefits as List<Models.Entity.Benefit>;
    List<Models.Entity.ContentCategory> contentCategories = ViewBag.contentCategories;
}
<header class="hun-header style-overlay layout-1">
    <div class="container">
        <div class="wrapper-header">
            <div class="group-feature left-side">
            </div>

            <div class="content-header">
                <div class="logo-header">
                    <a href="/" class="main-logo">
                        <img src="~/Asset/Spa/images/icons/logo-01.png" alt="IMG">
                    </a>

                    <a href="/" class="mobile-logo">
                        <img src="~/Asset/Spa/images/icons/logo-01.png" alt="IMG">
                    </a>

                    <a href="/" class="sticky-logo">
                        <img src="~/Asset/Spa/images/icons/logo-01.png" alt="IMG">
                    </a>

                    <a href="/" class="retina-logo">
                        <img src="~/Asset/Spa/images/icons/logo-01.png" alt="IMG">
                    </a>
                </div>

                @{Html.RenderAction("MainMenu", "Home");}
            </div>

            <div class="group-feature right-side">

                @{Html.RenderAction("TopAccountNav", "Home");}
                @{Html.RenderAction("MiniCart", "Home");}

                <div class="hun-menu-mobile">
                    <a href="#" class="btn-toggle-menu"></a>

                    <nav class="mobile-navigation">
                        <div class="logo-menu-mobile">
                            <a href="/">
                                <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- slider home-1 -->
<div class="sec--main-slider--home-1">
    <div class="hun-element-main-slider layout-1">
        <div class="main-slider js-call-slick" data-animate="true">
            <div class="slide-slick" data-slick='{"fade": true, "speed": 900, "dots": true, "arrows": false, "autoplay": true, "autoplaySpeed": 4500, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>
                @foreach (var slide in listSlide)
                {
                    <div class="item-slick full-height-with-header" style="background-image: url('@slide.image');">
                        <div class="content-slide">
                            <div class="subtitle-slide" data-appear="slideInDown" data-delay="800">
                                @slide.subtitle
                            </div>

                            <h2 class="title-slide" data-appear="slideInUp" data-delay="0">
                                @slide.title
                            </h2>

                            <div class="buttons-slide" data-appear="zoomIn" data-delay="1600">
                                <a href="@slide.link" class="hun-button size-normal style-border-light shape-round">
                                    @slide.TextButton
                                </a>
                            </div>
                        </div>
                    </div>
                }



            </div>

            <div class="dots-slick"></div>
        </div>

        <div class="social-slider">
        </div>
    </div>
</div>
<!-- end slider home-1 -->
<!-- our-story home-2 -->
<div class="sec--our-story--home-1 parallax100" style="background-image: url('assets/images/bg-01.jpg');">
    <div class="container">
        <div class="hun-element-our-story layout-1">
            <div class="pic-element-top">
                <img src="~/Asset/Spa/images/single-image-png-01.jpg" alt="IMG">
            </div>

            <div class="text-element">
                <div class="heading-element">
                    <h3 class="title-element">
                        @aboutUs.Name
                    </h3>

                    <img class="line-heading" src="~/Asset/Spa/images/icons/wave-line-02.png" alt="IMG">
                </div>

                <div class="content-element">
                    @Html.Raw(aboutUs.Description)
                </div>

                <div class="info-element">
                    <div class="sign-element">
                        <img src="@aboutUs.Sign" alt="IMG">
                    </div>

                    <div class="author-element">
                        <span class="name-author">@aboutUs.Author</span> / @aboutUs.Role
                    </div>
                </div>
            </div>

            <div class="pic-element-bottom">
                <img src="~/Asset/Spa/images/single-image-png-02.jpg" alt="IMG">
            </div>
        </div>
    </div>
</div>
<!-- end our-story home-2 -->
<!-- our-services home-1 -->
<div class="sec--our-service--home-1">
    <div class="container">
        <div class="hun-element-heading layout-1 text-center">
            <h3 class="title-element">
                Our Products
            </h3>

            <div class="line-element">
                <img src="~/Asset/Spa/images/icons/wave-line-02.png" alt="IMG">
            </div>
        </div>

        <div class="hun-element-service layout-1">
            <div class="slide-element js-call-slick">
                <div class="slide-slick" data-slick='{"dots": false, "arrows": true, "autoplay": false, "infinite": true, "slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": 1199, "settings": {"slidesToShow": 2, "slidesToScroll": 1}}, {"breakpoint": 991, "settings": {"slidesToShow": 2, "slidesToScroll": 1}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}, {"breakpoint": 575, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                    @foreach (var item in bestSellerProductList)
                    {
                        <div class="item-slick">
                            <div class="item-element">
                                <div class="pic-item">
                                    <a href="/product/detail?id=@item.id" class="wrap-pic">
                                        <img style="width:245px;height:245px" src="@item.image" alt="IMG">
                                    </a>
                                </div>

                                <div class="text-item">
                                    <h4 class="title-item">
                                        <a href="/product/detail?id=@item.id">
                                            @item.name
                                        </a>
                                    </h4>

                                    <div class="meta-info-item">
                                        <span class="item-info">
                                            <i class="zmdi zmdi-money-box"></i>
                                            @item.price.Value.ToString("N0") vnđ
                                        </span>
                                    </div>

                                    <div class="description-item">
                                        @item.description
                                    </div>
                                </div>

                                <div class="foot-item">
                                    <a data-id="@item.id" style="margin:auto" href="#" class="link-item addToCart">
                                        Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="arrows-slick">
                    <a class="item-arrow prev-slick"></a>

                    <a class="item-arrow next-slick"></a>
                </div>
            </div>
        </div>

        <div class="buttons-section">
            <a href="/product" class="hun-button size-normal style-border-color shape-round">
                View All
            </a>
        </div>
    </div>
</div>
<!-- end our-services home-1 -->
<!-- gallery home-2 -->
<div class="sec--video--home-1">
    @*<img class="deco-section-top d-none d-sm-inline" src="~/Asset/Spa/images/single-image-png-01.jpg" alt="IMG">
    <img class="deco-section-bottom d-none d-sm-inline" src="~/Asset/Spa/images/single-image-png-02.jpg" alt="IMG">*@

    <div class="container">
        <div class="hun-element-video layout-1 js-call-magnificpopup">
            <img src="~/Asset/Spa/images/video-01.png" alt="IMG">

            <a class="btn-play mfp-iframe js-open-popup" href="https://www.youtube.com/watch?v=w4YiwHy5YrY">
                <i class="icon-control-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- end gallery home-2 -->
<!-- our-team home-2 -->
<div class="sec--news-events--home-1">
    <div class="container">
        <div class="hun-element-heading layout-1 text-center">
            <h3 class="title-element">
                News & Events
            </h3>

            <div class="line-element">
                <img src="~/Asset/Spa/images/icons/wave-line-02.png" alt="IMG">
            </div>
        </div>
        @{
            var index = 1;
        }
        @foreach (var content in contentList.Take(2))
        {
            <div class="hun-element-post layout-1 @(index % 2 == 0 ? "style-reverse" : string.Empty)">
                <div class="pic-element">
                    <a href="/blog/detail?id=@content.id" class="wrap-pic" style="background-image: url('@content.image');"></a>
                </div>

                <div class="text-element">
                    <div class="cat-element">
                        @{ 
                            var categoryOfBlog = contentCategories.FirstOrDefault(x => x.id == content.categoryID);
                        }
                        <a href="/blog/ListByCategory?idCategory=@content.categoryID" class="item-cat">
                            @categoryOfBlog.name
                        </a>
                    </div>

                    <h4 class="title-element">
                        <a href="blog-detail.html">
                            @content.name
                        </a>
                    </h4>

                    <div class="description-element">
                        @content.description
                    </div>

                    <a href="/blog/detail?id=@content.id" class="link-element">
                        Read more
                    </a>
                </div>
            </div>
                index++;
        }
        
    </div>
</div>
<!-- end our-team home-2 -->