<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(ViewBag.MetaTitle ?? ViewBag.Tittle)</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="@(ViewBag.MetaTitle ?? string.Empty)" />
    <meta name="description" content="@(ViewBag.MetaDescription ?? string.Empty)" />
    <meta name="keywords" content="@(ViewBag.MetaKeyword ?? string.Empty)" />
    <meta property="og:title" content="@(ViewBag.MetaTitle ?? ViewBag.Tittle)" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="@Context.Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@(ViewBag.MetaDescription ?? string.Empty)" />
    <meta property="og:site_name" content="@(ViewBag.MetaTitle ?? ViewBag.Tittle)" />
    <meta name="google-site-verification" content="b32z8I1U65G5SAsbWbGk_zZuawyKZQEQ5M2NQdLgnGM" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- All css files are included here. -->
    <link rel="icon" type="image/png" href="/Asset/Spa/images/icons/favicon-01.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/fonts/font-awesome-4/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/fonts/iconic-font/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/fonts/simple-line-icons/css/simple-line-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/fonts/linearicons/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/magnific-popup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/animsition/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/libs/parallax100/parallax100.css">
    <!--===============================================================================================-->
    @RenderSection("cssHeader", required:false)
    <link href="~/Asset/Client/css/plugins.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/MdBootrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/MdBootrap/css/mdb.min.css">
    <link href="~/Asset/noty/lib/themes/metroui.css" rel="stylesheet" />
    <link href="~/Asset/noty/lib/noty.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Asset/Spa/css/style.css">
    <!--===============================================================================================-->
</head>
<body id="body" onload="myFunction()" class="animsition">
    <!-- Header -->
    <header class="hun-header style-sticky layout-2">
        <div class="wrapper-header element-for-stick">
            <div class="logo-header">
                <a href="/" class="main-logo">
                    <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                </a>

                <a href="/" class="mobile-logo">
                    <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                </a>

                <a href="/" class="sticky-logo">
                    <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                </a>

                <a href="/" class="retina-logo">
                    <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                </a>
            </div>

            @{Html.RenderAction("MainMenu", "Home");}

            <div class="group-feature">
                <div class="buttons-header d-none d-sm-block">
                    <a href="/booking" class="hun-button size-small shape-round style-fill-color">
                        Book now
                    </a>
                </div>

                <div class="hun-element-search layout-1">
                    <span class="search-open">
                        <i class="zmdi zmdi-search"></i>
                    </span>

                    <div class="search-form">
                        <span class="search-close"></span>

                        <form>
                            <input type="text" class="search-field" />
                            <span class="search-notice"> Hit enter to search or ESC to close</span>
                        </form>

                        <ul class="list-result"></ul>
                    </div>
                </div>

                <div class="hun-menu-mobile">
                    <a href="#" class="btn-toggle-menu"></a>

                    <nav class="mobile-navigation">
                        <div class="logo-menu-mobile">
                            <a href="/">
                                <img src="/Asset/Spa/images/icons/logo-02.png" alt="IMG">
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- end Header -->
    @RenderBody();
    <!-- Footer -->
    @{Html.RenderAction("Footer", "Home");}
    <!-- end Footer -->
    @*<script src="~/Asset/Client/js/vendor/jquery-1.12.4.min.js"></script>*@
    <script type="text/javascript" src="~/Asset/MdBootrap/js/jquery.min.js"></script>
    <script src="~/Asset/Client/js/HandlerCart.js"></script>
    <script src="~/Asset/Client/js/popper.min.js"></script>
    <script src="~/Asset/Client/js/plugins.js"></script>
    <!-- end Footer -->
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/bootstrap/popper.js"></script>
    <script src="/Asset/Spa/libs/bootstrap/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/slick/slick.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/animsition/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/daterangepicker/moment.min.js"></script>
    <script src="/Asset/Spa/libs/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Asset/Spa/libs/parallax100/parallax100.js"></script>
    <!--===============================================================================================-->

    <script type="text/javascript" src="~/Asset/MdBootrap/js/mdb.min.js"></script>
    <script src="~/Asset/noty/lib/noty.js"></script>
    @RenderSection("jsFooter", required: false)
    <script src="~/Asset/Spa/js/main.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=2399606136744047&autoLogAppEvents=1"></script>
    <script>
    </script>
    <div class="fb-customerchat"
         page_id="1897363613844865"
         minimized="true">
    </div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2399606136744047',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v2.11'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>