@model PagedList.IPagedList<Models.Entity.Product>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section ProductJs{

    <!-- cart-js -->

    @*<script src="~/Asset/Cartpage/web/js/minicart.js"></script>*@
@*<script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();
                console.log(items)
                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>*@
@*<script>
        $('#cartTop').on('click', function () {
            toys.view.show();
        });
    </script>*@
<!--    //cart-js -->
@*<script src="/Asset/Client/js/bootstrap-3.1.1.min.js"></script>*@
@*}**@

<!-- Shop Section Start -->
<div class="shop-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <!-- Single Sidebar Start  -->
                <div class="common-sidebar-widget">
                    <h3 class="sidebar-title">Color</h3>
                    <ul class="sidebar-list">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Red <span class="count">(5)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Orange <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Blue <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Black <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Green <span class="count">(4)</span></a></li>
                    </ul>
                </div>
                <!-- Single Sidebar End  -->
                <!-- Single Sidebar Start  -->
                <div class="common-sidebar-widget">
                    <h3 class="sidebar-title">Manufacturer</h3>
                    <ul class="sidebar-list">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Aliquam <span class="count">(5)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Duis tempus id <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Leo quis molestie <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Suspendisse <span class="count">(4)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Nunc gravida <span class="count">(4)</span></a></li>
                    </ul>
                </div>
                <!-- Single Sidebar End  -->
                <!-- Single Sidebar Start  -->
                <div class="common-sidebar-widget">
                    <h3 class="sidebar-title">Price</h3>
                    <ul class="sidebar-list">
                        <li><a href="#"><i class="fa fa-angle-right"></i><span class="price">€0.00</span> - <span class="price">€99.99</span> <span class="count">(7)</span></a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i><span class="price">€100.00</span> and above  <span class="count">(14)</span></a></li>
                    </ul>
                </div>
                <!-- Single Sidebar End  -->
                <!-- Single Sidebar Start  -->
                <div class="common-sidebar-widget">
                    <div class="single-banner">
                        <a href="#">
                            <img src="/Asset/Client/images/banner/h4-banner-2.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- Single Sidebar End  -->
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-banner mb-35 mb-xs-20">
                            <img src="/Asset/Client/images/banner/category-image.jpg" alt="">
                        </div>
                        <div class="shop-banner-title">
                            <h2>Shop</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Grid & List View Start -->
                        <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                            <div class="grid-list-option">
                                <ul class="nav">
                                    <li>
                                        <a class="active show" data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#list" class=""><i class="fa fa-th-list"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--Toolbar Short Area Start-->
                            <div class="toolbar-short-area d-md-flex align-items-center">
                                <div class="toolbar-shorter ">
                                    <label>Sort By:</label>
                                    <select class="wide">
                                        <option data-display="Select">Nothing</option>
                                        <option value="Relevance">Relevance</option>
                                        <option value="Name, A to Z">Name, A to Z</option>
                                        <option value="Name, Z to A">Name, Z to A</option>
                                        <option value="Price, low to high">Price, low to high</option>
                                        <option value="Price, high to low">Price, high to low</option>
                                    </select>
                                </div>
                                <div class="toolbar-shorter ">
                                    <label>Show</label>
                                    <select class="small">
                                        <option data-display="Select">9</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                    </select>
                                    <span>per page</span>
                                </div>

                            </div>
                            <!--Toolbar Short Area End-->
                        </div>
                        <!-- Grid & List View End -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="shop-product">
                            <div id="myTabContent-2" class="tab-content">
                                <div id="grid" class="tab-pane fade active show">
                                    <div class="product-grid-view">
                                        <div class="row">
                                            @foreach (var product in Model)
                                            {
                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product mb-30">
                                                        <div class="product-img">
                                                            <a href="/product/Detail?id=@product.id">
                                                                <img src="@product.image" alt="">
                                                            </a>
                                                            @if (product.promotionPrice != null && product.promotionPrice != 0)
                                                            {
                                                                var percent = (int)(((product.price - product.promotionPrice) / product.price) * 100);
                                                                <span class="descount-sticker">-@percent %</span>
                                                            }


                                                            @{
                                                                var changeValue = DateTime.Now.Date - product.createdDate.Value.Date;
                                                                if (changeValue.TotalDays <= 7)
                                                                {
                                                                    <span class="sticker">New</span>
                                                                }
                                                            }
                                                            <div class="product-action d-flex justify-content-between">
                                                                <a class="product-btn" href="#">Add to Cart</a>
                                                                <ul class="d-flex">
                                                                    <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h3><a href="single-product.html">@product.name</a></h3>
                                                            <div class="ratting">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            @if (product.promotionPrice == null || product.price == 0)
                                                            {
                                                                <h4 class="price"><span class="new">@product.price.Value.ToString("N0") đ</span></h4>
                                                            }
                                                            else
                                                            {
                                                                <h4 class="price">
                                                                    <span class="new">@product.promotionPrice.Value.ToString("N0") đ</span><span style="text-decoration-line:line-through" class="old">@product.price.Value.ToString("N0") đ</span>
                                                                </h4>
                                                            }
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End -->
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="list" class="tab-pane fade">
                                    <div class="product-list-view">
                                        @foreach (var product in Model)
                                        {
                                            <div class="product-list-item mb-40">
                                                <div class="row align-items-center">
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="single-product">
                                                            <div class="product-img mb-0 mb-xs-25">
                                                                <a href="/product/Detail?id=@product.id">
                                                                    <img src="@product.image" alt="">
                                                                </a>
                                                                @if (product.promotionPrice != null && product.promotionPrice != 0)
                                                                {
                                                                    var percent = (int)(((product.price - product.promotionPrice) / product.price) * 100);
                                                                    <span class="descount-sticker">-@percent %</span>
                                                                }


                                                                @{
                                                                    var changeValue = DateTime.Now.Date - product.createdDate.Value.Date;
                                                                    if (changeValue.TotalDays <= 7)
                                                                    {
                                                                        <span class="sticker">New</span>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6">
                                                        <div class="product-content-shop-list">
                                                            <div class="product-content">
                                                                <h3><a href="single-product.html">@product.name</a></h3>
                                                                @if (product.promotionPrice == null || product.price == 0)
                                                                {
                                                                    <h4 class="price"><span class="new">@product.price.Value.ToString("N0") đ</span></h4>
                                                                }
                                                                else
                                                                {
                                                                    <h4 class="price">
                                                                        <span class="new">@product.promotionPrice.Value.ToString("N0") đ</span><span style="text-decoration-line:line-through" class="old">@product.price.Value.ToString("N0") đ</span>
                                                                    </h4>
                                                                }
                                                                <div class="ratting">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <p>@product.description</p>
                                                                <div class="product-action d-flex justify-content-between">
                                                                    <a class="product-btn" href="#">Add to Cart</a>
                                                                    <ul class="d-flex">
                                                                        <li><a href="#quick-view-modal-container" data-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- Single List Product Start -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30 mb-sm-40 mb-xs-30">
                    <div class="col">
                        <ul class="page-pagination">
                            @{

                                var prevalue = Model.PageNumber;
                                if (Model.PageNumber > 1)
                                {
                                    prevalue = Model.PageNumber - 1;
                                }
                                <li><a href="/product?page=@prevalue"><i class="fa fa-angle-left"></i></a></li>
                            }


                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (Model.PageNumber == i)
                                {
                                    <li class="active"><a href="/product?page=@i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="/product?page=@i">@i</a></li>
                                }
                            }

                            @{
                                var nextvalue = Model.PageNumber;
                                if (Model.PageNumber < Model.PageCount)
                                {
                                    nextvalue = Model.PageNumber + 1;
                                }
                            }
                            <li><a href="/product?page=@nextvalue"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->