@model PagedList.IPagedList<Models.Entity.Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Models.Entity.ContentCategory> contentCategories = ViewBag.ListContentCategory;
    List<Models.Entity.Content> recentBlog = ViewBag.RecentBlog;
    List<Models.Entity.Content> blogList = ViewBag.BlogList;
    Models.Entity.Banner banner = ViewBag.banner;
}

<!-- Page Banner Section Start -->
<div style="background-image: url('@(banner != null? banner.Image : "")');
" class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>Blog</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!-- Blog Section Start -->
<div class="blog-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-65 pb-lg-45 pb-md-35 pb-sm-25 pb-xs-15">
    <div class="container">
        <div class="row">
            <!-- Single Blog Start -->
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="blog col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-inner mb-20">
                            <div class="media"><a href="/blog/detail?id=@item.id" class="image"><img src="@item.image" alt=""></a></div>
                            <div class="content">
                                <h3 class="title"><a href="/blog/detail?id=@item.id">@item.name</a></h3>
                                <ul class="meta">
                                    <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">@item.createdDate.Value.Day</span><span class="separator">-</span><span class="month">@item.createdDate.Value.ToString("MMMM")</span></span></li>
                                </ul>
                                <p>@item.description</p>
                                <a class="readmore" href="/blog/detail?id=@item.id">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <div class="row mb-35">
            <div class="col">
                <ul class="page-pagination">
                    @{

                        var prevalue = Model.PageNumber;
                        if (Model.PageNumber > 1)
                        {
                            prevalue = Model.PageNumber - 1;
                        }
                        <li><a href="/blog?page=@prevalue"><i class="fa fa-angle-left"></i></a></li>
                    }


                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (Model.PageNumber == i)
                        {
                            <li class="active"><a href="/blog?page=@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="/blog?page=@i">@i</a></li>
                        }
                    }

                    @{
                        var nextvalue = Model.PageNumber;
                        if (Model.PageNumber < Model.PageCount)
                        {
                            nextvalue = Model.PageNumber + 1;
                        }
                    }
                    <li><a href="/blog?page=@nextvalue"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->
