@model Models.Entity.Content
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Models.Entity.ContentCategory> contentCategories = ViewBag.ListContentCategory;
    List<Models.Entity.Content> recentBlog = ViewBag.RecentBlog;
    Models.Entity.Banner banner = ViewBag.banner;
}

<!-- Page Banner Section Start -->
<div style="background-image: url('@(banner != null? banner.Image : "")');
" class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>Blog Details</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!-- Blog Section Start -->
<div class="blog-section section pt-100 pt-lg-80 pt-md-70 pt-sm-50 pt-xs-40 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-sm-40 mb-xs-30">
                <div class="blog_area">
                    <article class="blog_single blog-details">
                        <header class="entry-header">
                            <span class="post-category">
                                @foreach (var item in contentCategories)
                                {
                                    if (item.id == Model.categoryID)
                                    {
                                        <a href="/blog/ListByCategory?idCategory=@item.id"> @item.name</a>
                                    }
                                }
                            </span>
                            <h2 class="entry-title">
                                @Model.name
                            </h2>
                            <span class="post-author">
                                <span class="post-by"> Posts by : </span> admin
                            </span>
                            <span class="post-separator">|</span>
                            <span class="post-date"><i class="fas fa-calendar-alt"></i>On @Model.createdDate.Value.ToString("dd MMMM yyyy") </span>
                        </header>
                        <div class="post-thumbnail img-full">
                            <img src="@Model.image" alt="">
                        </div>
                        <div class="postinfo-wrapper">
                            <div class="post-info">
                                <div class="entry-summary blog-post-description">
                                    @Html.Raw(Model.detail)
                                    <!--Blog Post Tag-->
                                    @*<div class="single-post-tag">
                                        <a href="#">3 comments</a>
                                        Tags:
                                        <a href="">fashion</a>,
                                        <a href="">t-shirt</a>,
                                        <a href="">white</a>,
                                    </div>*@
                                    <!--Blog Post Tag-->
                                    <div class="social-sharing">
                                        <div class="widget widget_socialsharing_widget">
                                            <h3 class="widget-title">Share this post</h3>
                                            <ul class="blog-social-icons">
                                                <li>
                                                    <a target="_blank" title="Facebook" href="#" class="facebook social-icon">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" title="twitter" href="#" class="twitter social-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" title="pinterest" href="#" class="pinterest social-icon">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" title="linkedin" href="#" class="linkedin social-icon">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="relatedposts">
                        <h3>Related posts</h3>
                        <div class="row">
                            @foreach (var post in recentBlog)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="relatedthumb mb-xs-30">
                                        <div class="image">
                                            <a href="/blog/detail?id=@post.id"><img src="@post.image" alt=""></a>
                                        </div>
                                        <h4><a href="/blog/detail?id=@post.id">@post.name</a></h4>
                                        <span class="rl-post-date">@post.createdDate.Value.ToString("dd MMMM yyyy")</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->
