@model PagedList.IPagedList<Models.Entity.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Models.Entity.ProductCategory> listProductCategory = ViewBag.ProductCategory;
}
@section jsFooter{

    <script src="~/Asset/Admin/Controller/ProductController.js"></script>
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <div class="row w3-res-tb">
                <div class="col-sm-5 m-b-xs">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    @using (Html.BeginForm("Index", "ProductAdmin", FormMethod.Get, new { @class = "input-group" }))
                    {
                        <input name="searchString" id="searchString" value="@ViewBag.SearchString" type="text" class="input-sm form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <input class="btn btn-sm btn-default" type="submit" value="Go!" />
                        </span>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Quản lý ảnh</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.id">
                                        <td>@item.id</td>
                                        <td>
                                            @if (item.image != null)
                                            {
                                                <img style="max-width:80px" src="@item.image">
                                            }
                                        </td>
                                        <td><a href="/Admin/ProductAdmin/Edit/@item.id">@item.name</a></td>
                                        <td>
                                            @{
                                                if (item.idCategory != null)
                                                {
                                                    foreach (var category in listProductCategory)
                                                    {
                                                        if (item.idCategory == category.id)
                                                        {
                                                            @: @category.name
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td><a href="#" class="btn-image" data-id="@item.id">Quản lý ảnh</a></td>
                                        @*<td><a href="#" class="btn-active" data-id="@item.id">@(item.status == true ? "Kích hoạt" : "Khóa")</a></td>*@
                                        <td>
                                            <a href="/Admin/ProductAdmin/Edit/@item.id">Sửa</a>
                                            /
                                            @Ajax.ActionLink("Xóa", "Delete", new {@id = item.id} ,new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xoá bản ghi này?",
                                           OnComplete = "$('#row_" + @item.id + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            @*<small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>*@
                        </div>
                        <div class="col-sm-7 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                @{
                                    var preValue = Model.PageNumber;
                                    if (Model.PageNumber > 1)
                                    {
                                        preValue = Model.PageNumber - 1;
                                    }
                                    var nextValue = Model.PageNumber;
                                    if (Model.PageNumber < Model.PageCount)
                                    {
                                        nextValue = Model.PageNumber + 1;
                                    }
                                }

                                <li><a href="/Admin/ProductAdmin/Index?page=@preValue&&searchString=@ViewBag.SearchString"><i class="fa fa-chevron-left"></i></a></li>


                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li><a href="/Admin/ProductAdmin/Index?page=@i&&searchString=@ViewBag.SearchString">@i</a></li>
                                }
                                <li><a href="/Admin/ProductAdmin/Index?page=@nextValue&&searchString=@ViewBag.SearchString"><i class="fa fa-chevron-right"></i></a></li>

                            </ul>
                        </div>
                    </div>
                }
            </footer>
        </div>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "ProductAdmin")'">
            Tạo mới
        </button>
    </div>
</section>
<div class="modal fade" id="btn-multi-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quản lý ảnh</h5>
                <button type="button" class="close closeImage" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidProductId" value="0" />
                <div id="imageList" class="container-fluid">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeImage" data-dismiss="modal">Quay lại</button>
                <button type="button" id="btnChooseImage" class="btn btn-success">Chọn ảnh</button>
                <button type="button" id="btnSaveImage" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>


